
@font-face {
    font-family: mainFont;
    src: url(./fonts/Mochibop-Demo.ttf);
}



.control {
    padding-bottom: 4px;
    font-family: mainFont;
    font-size: 27px;
    
}

input {
    width: 10rem;
    background-color: #c3f0c6;
    border: #b2eeac 2px solid;
    font-size: 20px;
    font-family: mainFont;
}
select {
    width: 10rem;
    background-color: #c3f0c6;
    border: #b2eeac 2px solid;
    font-size: 20px;
    font-family: mainFont;
}
select>option {
    background-color: #b8e1ba;
}

.controls {
    padding-bottom: 4px;
    font-size: 15px;
    font-family: mainFont;
    display : flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.fullTitle{
            display : flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    white-space:pre;
}

.title{
    font-size: 40pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: mainFont;
    background-color: #FFF0DD;
}

.counter{
        font-size: 25pt;
    font-weight: bold;
    font-family: mainFont;
    background-color: #FFF0DD;
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    white-space:pre;
}

.colourRed{
    font-size: 40pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: mainFont;
    color: #B02E18;
}

.stats{
            font-size: 17pt;
    font-weight: bold;
    font-family: mainFont;
    background-color: #FFF0DD;
    display : flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    white-space:pre;
}

.colourYellow{
    font-size: 40pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: mainFont;
    color: #DD9C04;
}

.colourBlue{
    font-size: 40pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: mainFont;
    color: #2877BA;
}

.colourGreen{
    font-size: 40pt;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: mainFont;
    color: #079C04;
}


.albums { width: 300px; margin-left: 12px; }
.album .name { font-size: 16pt; font-weight: bold; margin-top: 10px; margin-bottom: 0px; font-family: mainFont;}
.album .artist { display: block; font-size: 13pt; margin-top: 5px; margin-bottom: 5px; font-family: mainFont;}
.album .Date { display: block; font-size: 10pt; font-family: mainFont;}
.album .id { color: green; }

.album .standardText {
    font-size: 11pt;
    font-family: mainFont;
    font-weight: 400;
    font-style: normal;
}


.album .boldText { font-size: 11pt; font-weight: bold; font-family: mainFont;}
.album .albumCover {width : 100px; height: 100;}

/*SLIDER STUFF*/
.direction_button{
    min-height : 30px;
    min-width : 30px;
    
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  background-color: #FFF0DD;
}



/*ALBUM STUFF*/
.bigHolder{
    min-height: 675px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap :0px;
    column-gap: 40px;
    background-color: #FFF0DD;
}

.album{
     padding: 22px; 
     margin-bottom: 0px; 
     width: 410px;
     height: 410px;
     background-size: cover;
     margin-top: 40px;
    }

.album_1{
    background-image: url(./images/UI/border_1.png);
    }

.album_2{
    background-image: url(./images/UI/border_2.png);
    }

.album_3{
    background-image: url(./images/UI/border_3.png);
    }

.album_4{
    background-image: url(./images/UI/border_4.png);
    }

.album_5{
    background-image: url(./images/UI/border_5.png);
    }

.album_6{
    background-image: url(./images/UI/border_6.png);
    }

.album_0{
    background-image: url(./images/UI/border_0.png);
    }
